* {
  color: white;
  box-sizing: border-box;
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
}

.content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 64px 28px;
}

.spacing-top {
  margin-top: 48px;
}

.cards-grid {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 12px;
  row-gap: 12px;
}

.card {
  background-color:#1e2127;
  padding: 36px;
  border-radius: 12px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 24px;
  align-items: center;
}

.card  h2 {
  margin-top: 0;
  margin-bottom: 24px;
}

.chart-container {
  width: auto;
  height: 300px;
}

.score {
  margin: 64px auto;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3a3a69;
}

.big-text {
  font-size: 36px;
  font-weight: 700;
}

.small-text {
  margin: 0
}