* {
  color: white;
  box-sizing: border-box;
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
}

.content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 64px 28px;
}

.spacing-top {
  margin-top: 48px;
}